<section>

    @if (isLoggedIn) {
        <p>Bienvenido, {{ username }}</p>
        <img
            (click)="greet()" 
            src="photo" 
            alt="https://github.com/SamuMichea.png"
        >
    } @else {
        <p>Inicia sesion!</p> 
        <button (click)="isLoggedIn = true">Login</button>
    }


    <app-games (addFavoriteEvent)="getFavorite($event)" username="{{ username }}"></app-games>
    
    @if (favGame != '') {
        <p> Tu juego favorito es {{ favGame }} </p>
    }
    
</section>
